.App {
  display: flex;
  justify-content: center; /* moves it to the horizontal center.*/
  align-items: center; /* moves it to the vertical center */
  height: 100vh; /*height should be 100% of the view height (the entire screen) */
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  color: #78909c;
}